<h2>Random Names Pairing</h2>
<p align="center">Please Enter Some Names.</p>
    
  
    <div id='a-players'>
    <form name='myForm' id='randomTeams'>
      
    <div id="input-player-list">Level A player 1: <input id="a-player1" type='text' name='fname'><br></div>
    <input type='button' id='addPlayer' value='Add Player'>
    <input type='button' id='removePlayer' value='Remove Player'>
    </form>
  </div><!--End of a-players-->
 
 </div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>