
<form method="post" action="peoples">
<h2>Random Names Pairing</h2>
<p align="center">Please Enter Some Names.</p>
    <div class="name_container">
        <input type="text" name="name1" class="people_input" placeholder="Name 1" required>
        <input type="text" name="name2" class="people_input" placeholder="Name 2" required>
        <input type="text" name="name3" class="people_input" placeholder="Name 3" required>
        <input type="text" name="name4" class="people_input" placeholder="Name 4" required>
        <input type="text" name="name5" class="people_input" placeholder="Name 5" required>
        <input type="text" name="name6" class="people_input" placeholder="Name 6" required>
        <input type="text" name="name7" class="people_input" placeholder="Name 7"required>
        <input type="text" name="name8" class="people_input" placeholder="Name 8" required>
        <input type="text" name="name9" class="people_input" placeholder="Name 9" required>
    </div>
    <input type="submit">
</form>
 